body {
	background-color: green;
}

div {
	border: 3px solid navy;

}

.div-inline-block {
	display: inline-block;
	color: yellow;
}

.div-inline {
	display: inline;}

.div-block {
	display: block;

}

article section:nth-child(2n) {
	border: 2px dashed red;
}